<!-- weasel icon is an outline of a mustelidae weasel, mostly found in the arctic. 
It was traced from an icon on https://www.hscripts.com/freeimages/icons/wild-animals/weasel.php
who offers their clip art use for free -->
<div class="header-container">
  <header>
      <ul class="nav">
        <!--Change the  URL here if working on an absolute domain-->
        <li><a href="/"><span class="mega-octicon" style="margin-right: 6px;"><img src="/weasel.svg" style="width:32px;vertical-align:middle"/></span>Home</a></li>
        <li><a href="/about"><span class="mega-octicon octicon-person" style="margin-right: 6px;"></span>About</a></li>
      </ul>
  </header>
</div>
