---
layout: default
---

<h1>Articles related to {{ page.tag }}</h1>
<div class="posts">
    {% if site.tags[page.tag] %}
        {% for post in site.tags[page.tag] %}
        <div class="post">
            <h3 class="post-title"><a href="{{ post.url }}/">{{ post.title }}</a></h3>
            <span class="post-date"><strong>{{ post.date | date_to_string }}</strong> {{ post.category }}</span>
            {{ post.summary }}
        </div>
        {% endfor %}
    {% else %}
        <p>There are no posts for this tag.</p>
    {% endif %}
</div>
