---
layout: default
---
<!--<h2>{{ page.category }}</h2>-->

{% comment %}
Allows Category tag of cateogypage pages to specify multiple categories 
{% endcomment %}
{% assign all_categories = ""%}
{% for cat in page.category %}
    {% capture all_categories %}{{ all_categories }}{{ cat | replace:" ","|" }}{% if forloop.last != true %}|{% endif %}{% endcapture %}
{% endfor %}
{% assign all_categories = all_categories | split:"|" %}

<div class="listing">
    {% for cat in all_categories %}
    {% for post in site.categories[cat] %}
    {% comment %}
    {% for cat in page.category %}
    {% for post in site.categories[page.category] %} 
    {% endcomment %}
    <div class="post other link">
    {% comment %} Custom Icons for Categories {% endcomment %}
    {% assign caticon = "file-text" %}
    {% for symbol in site.data.icons %}
        {% if symbol.category == post.category %}
            {% assign caticon = symbol.icon %}
        {% endif %}
    {% endfor %}
    <h2><span class="mega-octicon octicon-{{ caticon }}" style="min-width: 32px;"></span><a href="{{post.url}}">{{ post.title }}</a></h2>
      <p class="post-date">{{ post.date | date_to_string }}
      <small> Tags:
        {% for tag in post.tags %}
        <a href="/tags/{{ tag }}"><u>{{ tag }}</u></a>
            {% if forloop.last != true %}, {% endif %}
        {% endfor %}
      </small>
    </p>
    {{ post.summary }}
    <!-- <p> {{ post.excerpt }}</p> -->
    </div>
    {% endfor %}
    {% endfor %}
</div>
